eclipse_java_workspace/J_JavaSE/src/xml/schema/note.xsd

<?xml version="1.0"  encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.w3schools.com" elementFormDefault="qualified">
	<!--elementFormDefault="qualified"  指出任何 XML 实例文档所使用的且在此 schema 中声明过的元素必须被命名空间限定。 -->
	<xs:element name="note">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="to" type="xs:string" />
				<xs:element name="from" type="xs:string" />
				<xs:element name="heading" type="xs:string" />
				<xs:element name="body" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema> 